@model Service

@{
    Layout = "_Layout";
}

<div class="container wrapper">
    <h1 class="text-white fwt-bold">@Model.Name</h1>
    <span class="text-secondary fst-italic p-1 rounded-2" style="background:var(--darker);">@Model.Employees.Count().ToString() collaborateurs dans ce service</span>
    @* Faire une table avec les collaborateurs *@
    <div style="overflow: scroll">
        <table class="table table-dark table-hover mt-3 rounded-3" style="min-width: 980px">
            <thead>
            <tr>
                <th class="bg-primary">Nom</th>
                <th class="bg-primary">Prénom</th>
                <th class="bg-primary">Service</th>
                <th class="bg-primary">Tél. Fixe</th>
                <th class="bg-primary">Mobile</th>
                <th class="bg-primary">Mail</th>
                <th class="bg-primary">Site</th>
                @if (@User.IsInRole("Admin"))
                {
                    <th class="bg-primary">Actions</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    <td>@employee.LastName</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.Service.Name</td>
                    <td>@employee.Phone</td>
                    <td>@employee.Mobile</td>
                    <td>@employee.Email</td>
                    <td><a href="/Sites/Details/@employee.Site.SiteId">@employee.Site.City</a></td>
                    @if (@User.IsInRole("Admin"))
                    {
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-primary" asp-controller="Employees" asp-action="Update" asp-route-id="@employee.EmployeeId">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                                <button class="btn btn-danger" asp-controller="Employees" asp-action="Delete" asp-route-id="@employee.EmployeeId">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>